#d1 {
    height: 200px;
    width: 200px;
    background-color: blue;
    margin-bottom: 20px;
}

#d2 {
    height: 200px;
    width: 200px;
    background-color: red;
    margin-bottom: 20px;
}

#d3 {
    height: 200px;
    width: 200px;
    background-color: green;
    margin-bottom: 20px;
}

#d4 {
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin-bottom: 20px;
}